<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body style="	background-position: top left;	background-size: cover;	background-repeat: no-repeat;	background-image: url(&quot;https://static.pingendo.com/cover-bubble-dark.svg&quot;);">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="/">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> GESFA</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto"></ul> <a class="btn navbar-btn ml-md-2 btn-light text-dark" href="/">Página principal</a><a class="btn navbar-btn ml-md-2 text-dark btn-primary" href="/proveedores_pedidos">Proveedores y pedidos</a>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center text-white h-100" style="	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-10 p-4 h-50 w-50">
          <h1 class="text-dark">Hacer un pedido</h1>
          <form class="w-100 h-100" style="">
            <div class="form-row">
              <div class="form-group col-md-5">
                <div class="form-group">
                  <label for="sel1" class="text-dark">Proveedor</label>
                  <select class="form-control" id="sel1">
                    {% for proveedor in proveedores %}
                    <option>{{proveedor.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group"><label></label></div>
              </div>
              <div class="form-group col-md-3"><label class="text-dark">Fecha</label> <input type="date" class="form-control" id="form23" placeholder="fecha entrega" required="required">
                <div class="form-group"><label></label></div>
              </div>
              <div class="form-group col-md-4">
                <div class="form-group"><label></label></div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  {% for producto in productos %}
                    <tr data-id={{producto.id_producto}}>
                      <th scope="row">
                        <div class="checkbox">
                          <input type="checkbox" value="" class="check" id="check-{{producto.id_producto}}">
                        </div>
                      </th>
                      <td>{{producto.nombre}}</td>
                      <td><input type="number" class="form-control" id="cantidad-{{producto.id_producto}}" placeholder="Cantidad"></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              </form><a class="btn btn-primary" href="#" id="boton-enviar">Enviar</a>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/hacer_pedido.js"></script>
</body>

</html>